.todo_item { 
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  height: 36px;
}
  
.todo_item:last-child { 
  margin-bottom: 0;
}
  
.todo_item-checkbox { 
  margin-right: 10px;
}
  
.todo_item-ctx { 
  flex: 1;
}
  
.todo_item-editbtn, .todo_item-delbtn { 
  border: none;
  border-radius: 0;
  height: 36px;
  width: 36px;
  background-color: inherit;
}
  
.todo_item-editbtn:hover, .todo_item-delbtn:hover { 
  cursor: pointer;
  background-color: #d0ebff;
}
  
.todo_item-editbtn { 
  margin-right: 3px;
}
  