

body {
  background-color: #f0efe9;
}

.todo-container {
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 20px 30px;
  margin: auto;
  background-color: white;
  box-shadow: 10px 10px 10px #c1c0b9;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  box-sizing: border-box;
  
}


@media (min-width: 500px) {
  .todo-container {
    margin: 150px auto 0px;
  } 
}